.mat-toolbar{
    margin:-24px;
    width: auto;
    margin-bottom: 10px;
}

.tittle-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-forn-field{
    padding: 5px;

}

mat-hint{
    color: red;
}