<mat-card>
    <b><span>Manage User</span></b>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #Input>
    </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container mat-columnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container mat-columnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container mat-columnDef="contact">
            <th mat-header-cell *matHeaderCellDef>Contact Number</th>
            <td mat-cell *matCellDef="let element">{{element.contact}}</td>
        </ng-container>

        <ng-container mat-columnDef="status">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef ="let element" class="action-link">
                <mat-slide-toggle (change)="handleChangeAction($event.checked,element.id)" matTooltip ="Activate or Deactivate User"
                [checked] ="element.status">

                </mat-slide-toggle> 
            </td>
        </ng-container>
        <tr mat-row *matHeaderRowDef ="displayedColumns;sticky:true"> </tr>
       <tr mat-row *matRowDef ="let row;columns:displayedColumns"></tr>
    </table>
</div>